#bluetext {color: blue;}
#redtext {color:red;}
#greentext{color:green;}
.turquoisetext{color:turquoise;}
p {font-size:100px;}
h1{font-size:200px;}
img{height: 500px;}
#hi {height: 300px}
#hello{font-size:100px; color:blue}
#bye{font-size:100px; colour:blue;}